<div class='alert alert-warning shadow text-center rounded-lg my-3 mx-4' role='alert'>
  <h4>Make sure both <strong>email</strong> and <strong>password</strong> fields are filled and valid.</h4>
</div>